<div id="modal_<%= station.abbr %>"  class="stationTooltip hidden">
	<div class="stationTitleContainer">
		<div class="stationTitle"> <h3><%= station.name %></h3> </div>
		<div class="closeLink"> <%= link_to '&times;'.html_safe, '#' %> </div>
	</div>
		
	<%= turbo_frame_tag "id_#{station.abbr}", src: station_path(station.abbr, time_format: 'minutes'), loading: :lazy do %>
		<div id="floatingBarsG">
			<div class="blockG" id="rotateG_01"></div>
			<div class="blockG" id="rotateG_02"></div>
			<div class="blockG" id="rotateG_03"></div>
			<div class="blockG" id="rotateG_04"></div>
			<div class="blockG" id="rotateG_05"></div>
			<div class="blockG" id="rotateG_06"></div>
			<div class="blockG" id="rotateG_07"></div>
			<div class="blockG" id="rotateG_08"></div>
		</div> 

		<div> 
			<p class="live" style="text-align:center">Loading times...<p>
		</div>
	<% end %>
	
</div>
