<%= turbo_frame_tag "id_#{@station.abbr}", src: station_path(@station.abbr), loading: :lazy do %>
  <div class="stationTooltip">
		<div class="closeLink"> <a>&times;</a> </div>
		<div id="floatingBarsG">
			<div class="blockG" id="rotateG_01"></div>
			<div class="blockG" id="rotateG_02"></div>
			<div class="blockG" id="rotateG_03"></div>
			<div class="blockG" id="rotateG_04"></div>
			<div class="blockG" id="rotateG_05"></div>
			<div class="blockG" id="rotateG_06"></div>
			<div class="blockG" id="rotateG_07"></div>
			<div class="blockG" id="rotateG_08"></div>
		</div> 
		<div> 
			<p style="text-align:center">Loading times...<p>
		<div>
	</div>
<% end %>