<div id="mapContainer">	
	<div id="stationsMap">
		<div class="mapText"> Click for <span class="live">live</span> train times</div>

		<div id="linkContainer">
			<ul id="stationsList">
			<% @stations.each do |station| %>
        <li id=<%= "station_#{station.abbr}" %>>
					<%= content_tag(:a, simple_format(station.name, {}, wrapper_tag: :span), class: "stationLink") %>
					<%= render 'spinner', station: station %>
        </li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
