<div id="mapContainer">	
	<div id="stationsMap">
		<div class="mapText"> 
			Click for <span class="live">live</span> train times
		</div>

		<div id="linkContainer">
			<ul id="stationsList">
				<%= render partial: 'station_frame', as: 'station', collection: @stations %>
			</ul>
		</div>
	</div>
</div>

