// Custom color map
// May need to copy the following lines into 'bootstrap/scss/_maps.scss' if format button stops working
$bart-colors: (
  "bart-background-blue": #ccedff,
  "bart-light-blue": #009ADA,
  "bart-royal-blue": #0252dd,
  "blue-line" : #0099CC,
  "green-line":  #298A08,
  "red-line": #CC3333,
  "yellow-line": #FFFF22,
  "orange-line": #ff9933,
  "white-line": #ffffff,
  "black-line": #000000
);
// Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);

body { background: #ccedff; }

.centered {
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

a { text-decoration: none; }

a:link { color: black; } // unvisited link
a:visited { color: black; } // visited link
a:hover {
	cursor: pointer;
	color: #FFFFFF; //or gray? #999999
}  // mouse over link

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	line-height: 0px;
}

.bart-background-blue { color: #ccedff; }
.bart-light-blue { color: #009ADA; }
.bart-royal-blue { color: #0252dd; }
