#mapContainer {
	position: relative;
	margin-top: 120px;
	margin-bottom: 30px;
	width: 100%;
	height: 800px;
	z-index: 0;
}

#stationsMap {
	position: relative;
	margin: 0 auto;
	background-image: url('bart-map-with-stations.png');
	background-repeat: no-repeat;
	width: 900px;  
	height: 800px;
	z-index: 0;
	border-radius: 20px;
	// border: 4px solid #009ADA;
}

.mapText {
	position: absolute;
	top: 1%;
	left: 2%;
	color: #FFFFFF; 
	font-family: futura;
	font-size: 40px;
	letter-spacing: -2px;
	line-height: 44px;
}

.live {
	font-style: italic;
	font-size: 1.2em;
	letter-spacing: -4px;
	color: #009ADA
}

#linkContainer {
	position: relative;
	margin: 0 auto;
	width: 900px;  
	height: 800px;
	z-index: 1;	
}

.stationLink {
	letter-spacing: -0.05em;
	line-height: 15px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 100%;
	z-index: 2;
}

#station_12th { 
	position: absolute; 
	top: 31.7%;
  left: 38.6%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_16th { 
	position: absolute; 
	top: 43.2%;
  left: 7.6%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_19th { 
	position: absolute; 
	top: 28.9%;
  left: 38.7%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_24th { 
	position: absolute; 
	top: 45%;
  left: 6.5%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_antc { 
	position: absolute; 
	top: 0.9%;
	left: 89.2%;
	.stationLink {
		letter-spacing: -0.02em;
		font-size: 1.2em;
	}
} 

#station_ashb { 
	position: absolute; 
	top: 23.2%;
  left: 30.3%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_balb { 
	position: absolute; 
	top: 48.6%;
  left: 6%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_bayf { 
	position: absolute; 
	top: 51%;
  left: 50.3%;
	.stationLink {
		font-size: 0.7em;
	}
}

#station_bery { 
	position: absolute; 
	top: 94.8%;
	left: 71.8%;
	.stationLink {
		line-height: 19px;
		font-size: 1.2em;
		letter-spacing: -0.02em;
	}
} 

#station_cast { 
	position: absolute; 	
	top: 55.6%;
  left: 57.2%;
	.stationLink {
		font-size: 0.7em;
		line-height: 13px;
	}
} 

#station_civc { 
	position: absolute; 
	top: 41.5%;
  left: 4.9%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_cols { 
	position: absolute; 
	top: 44.7%;
  left: 45.2%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_colm { 
	position: absolute; 
	top: 56.4%;
  left: 9.3%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_conc { 
	position: absolute; 
	top: 10%;
	left: 59.4%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_daly { 
	position: absolute; 
	top: 52.1%;
	left: 2.6%;
	.stationLink {
		font-size: 1.2em;
		letter-spacing: -0.02em;
	}
} 

#station_dbrk { 
	position: absolute; 
	top: 21%;
  left: 22.4%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_dubl { 
	position: absolute; 
	top: 50.6%;
	left: 76.7%;
	.stationLink {
		line-height: 19px;
		font-size: 1.2em;
		letter-spacing: -0.02em;
	}
} 

#station_deln { 
	position: absolute; 
	top: 13.4%;
  left: 18.6%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_embr { 
	position: absolute; 
	top: 36.6%;
  left: 12%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_frmt { 
	position: absolute; 
	top: 74.3%;
	left: 67.5%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_ftvl { 
	position: absolute; 
	top: 41.3%;
  left: 42.4%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_glen { 
	position: absolute; 
	top: 46.8%;
  left: 8.1%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_hayw { 
	position: absolute; 
	top: 59.4%;
  left: 55.5%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_lafy { 
	position: absolute; 
	top: 18.3%;
  left: 48.3%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_lake { 
	position: absolute; 
	top: 38.3%;
  left: 40.1%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_mcar { 
	position: absolute; 
	top: 26.4%;
  left: 38.8%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_mlbr { 
	position: absolute; 
	top: 69.3%;
	left: 15%;
	.stationLink {
		font-size: 1.2em;
		letter-spacing: -0.02em;
	}
} 

#station_mlpt { 
	position: absolute; 
	top: 89%;
	left: 70.8%;
	.stationLink {
		font-size: 0.7em;
	}
}

#station_mont { 
	position: absolute; 
	top: 38.2%;
  left: 10.1%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_nbrk { 
	position: absolute; 
	top: 18.4%;
  left: 23.4%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_ncon { 
	position: absolute; 
	top: 7.3%;
  left: 63.3%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_orin { 
	position: absolute;
	top: 21%;
  left: 44.5%;
	.stationLink {
		font-size: 0.7em;
	}
}

#station_oakl { 
	position: absolute; 
	top: 53%;
	left: 35%;
	.stationLink {
		font-size: 0.9em;
	}
} 

#station_pctr { 
	position: absolute; 
	top: 0%;
	left: 75.2%;
	.stationLink {
		font-size: 0.7em;
		line-height: 12px;
	}
} 

#station_pitt { 
	position: absolute; 
	top: 0%;
	left: 66.3%;
	.stationLink {
		font-size: 0.7em;
		line-height: 12px;
	}
} 

#station_phil { 
	position: absolute; 
	top: 12.7%;
  left: 56%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_plza { 
	position: absolute; 
	top: 16%;
  left: 22%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_powl { 
	position: absolute; 
	top: 39.8%;
  left: 12.2%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_rich { 
	position: absolute; 
	top: 8.2%;
	left: 17.8%;
	.stationLink {
		font-size: 1.2em;
		letter-spacing: -0.02em;
	}
} 

#station_rock { 
	position: absolute; 
	top: 23.8%;
  left: 40.9%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_sbrn { 
	position: absolute; 
	top: 63%;
  left: 11%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_sfia { 
	position: absolute; 
	top: 64.8%;
  left: 26.1%;
	.stationLink {
		font-size: 0.9em;
	}
} 

#station_sanl { 
	position: absolute; 
	top: 47.9%;
  left: 47.7%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_shay { 
	position: absolute; 
	top: 64.3%;
  left: 59.5%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_ssan { 
	position: absolute; 
	top: 59.7%;
  left: 4%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_ucty { 
	position: absolute; 
	top: 69.2%;
  left: 63.5%;
	.stationLink {
		font-size: 0.7em;
	}
} 

#station_warm { 
	position: absolute; 
	top: 81.9%;
	left: 70%;
	.stationLink {
		font-size: 0.7em;
	}
}

#station_wcrk { 
	position: absolute; 
	top: 15.4%;
  left: 52.3%;
	.stationLink {
		font-size: 0.7em;
	}
} 
#station_wdub {
	position: absolute; 
	top: 54.6%;
	left: 67.9%;
	.stationLink {
		font-size: 0.7em;
		line-height: 12px
	}
}

#station_woak { 
	position: absolute; 
	top: 32.6%;
  left: 24.2%;
	.stationLink {
		font-size: 0.7em;
	}
}
