.stationTooltip {
	font-family: helvetica;
	font-size: 1em;
	position: absolute;
	bottom: 40px; // Moves tooltip up and down
	left: -150px; // Moves tooltip side to side, was -25px
	z-index: 10;
	width: 360px;
	//removed height so div would size dynamically
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 0px;
	background: #B1DFFF;  //background color e6e6e6
	border: #00aeef solid 3px; //007FFF, #0099CC, 009ADA or line match #00aeef 4px blue 
	opacity:0.9;
	filter:alpha(opacity=90);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 20px;
	box-shadow: 10px 15px 15px #333333;
}

.stationTooltip:after {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 46%;  // Moves pointer side to side, was 14%
	border-style: solid;
	border-width: 25px 15px 0;
	border-color: #B1DFFF transparent; //background color e6e6e6
	display: block;
	width: 0;
	z-index: 10;
}

.stationTooltip:before {
	content: "";
	position: absolute;
	bottom: -29.2px;
  left: 45.2%;  // Moves pointer outside side to side, was 13.2%
	border-style: solid;
	border-width: 28px 18px 0;
	border-color: #00aeef transparent;  // border color
	display: block;
	width: 0;
	z-index: 9;
}

.stationTitleContainer {
	 padding-right: 40px;
	 margin: 2px 0 4px 0;
 }

.stationTitle {
	font-family: helvetica;
 	display: inline;
 	h3 {
		display: inline;
 		text-align: left;
 		line-height: 15px;
		font-size: 1.2em;
		font-weight: bold;
 	}
 }

.underline {
	text-decoration-line: underline;
	text-decoration-color: #00aeef;
}

.closeLink {
	position: absolute;
	top: 5px;
	right: 5px;
	a {
		font-family: futura;
		color: black; 
		font-size: xx-large;
	}
	a:hover { color: white; }
	a:active { color: black; }  /* selected link */
}

.train {
	font-size: large;
	font-weight: bold;
	letter-spacing: 0px;
	text-shadow:0 0 1px black;
 }


.toggleLink {
	position: absolute;
	bottom: 3px;
	right: 3px;
	a {
		padding: 0px 3px;
		font-size: 0.7em; 
		font-family: futura;
	}
	a:hover {
		color: white;
		font-size: 0.75em;
	};
	a:active { 
		color: black;
		font-size: 0.75em;
	}  /* selected link unicode watch character &#8986; */
	.bi::before {
		line-height: 0px;
		vertical-align: -0.2em;
		font-size: 1.2em;
		margin: 0px 3px 0px 0px;
	}
}

.currentTime {
	margin-top: 5px;
	font-family: futura;
	font-size: smaller;
	text-align: center;
	line-height: 14px;
}

.loadMessage {
	font-family: helvetica;
 	h3 {
		margin-top: 30px;
 		text-align: center;
 		line-height: 15px;
		font-size: 1em;
		font-weight: bold;
 	}
}

.blue-line {
	color: #00aeef; // # Or #009ADA 
}
.green-line {
	color: #51b848;  
}

.red-line {
	color: #ed1c24;
}

.orange-line {
	color: #faa619;
}

.yellow-line {
	color: #FFFF22; // #ffe600 matches map yellow
}

.white-line {
	color: #ffffff;
}

.hidden { display: none }
